.navbar {
  background-color: lightblue;
  color: black;
}

.navbar-cat {
  background-color: rgb(124, 177, 194);
  color: black;
}

.drop::after {
  background-color: red;
  color: black;
}

.footer {
  background-color: lightblue;
  color: black;
}

.main {
  min-height: 80vh;
}

.slider {
  /* max-height: 50vh;
  max-width: 100%; */
  height: 500px !important;
}

/* .menWomen > img {
  margin-right: 200px;
} */

#dropdown-basic {
  background-color: transparent;
  border: none;
  outline: none;
}

#dropdown-basic:focus {
  background-color: transparent;
  border: none;
  outline: none;
}

.dropdown-toggle::after {
  display: none !important;
}

/* category cards */

.catCards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1rem;
  flex-wrap: wrap;
  /* justify-content: space-evenly; */
  /* align-content: center; */
}

/* product view */

.product-click {
  background-color: blue;
  color: white;
}

.prodView {
  max-width: 1200px;
  width: 100%;
  margin: 100px auto;
  box-shadow: 0 0 5px #ccc;
}

.details {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 30px 0;
}
.details .big-img {
  max-width: 500px;
  min-width: 290px;
  overflow: hidden;
  margin: 25px;
}
.big-img img {
  width: 100%;
  height: 100%;
  max-height: 400px;
  display: block;
  object-fit: cover;
}

.details .box {
  max-width: 500px;
  min-width: 290px;
  margin: 25px;
}
.box .row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}
.box .row h2 {
  text-transform: uppercase;
  letter-spacing: 2px;
}
.box .row span {
  color: crimson;
}
.box .colors button {
  width: 30px;
  height: 30px;
  border: 1px solid #333;
  outline: none;
  margin-right: 5px;
  cursor: pointer;
}
.box p {
  line-height: 1.5;
  margin: 15px 0;
}
.thumb {
  width: 100%;
  height: 100px;
  display: flex;
  cursor: pointer;
  margin: 10px 0;
}
.thumb img {
  width: 90px;
  height: 100%;
  display: block;
  object-fit: cover;
  border: 1px solid #ddd;
  margin-right: 5px;
  opacity: 0.7;
  border-radius: 5px;
}
.thumb img.active {
  opacity: 1;
  border: 1px solid lightseagreen;
}

.box .addCart {
  width: 25%;
  height: 40px;
  border-radius: 5px;
  font-weight: 400;
  letter-spacing: 1.15px;
  background-color: #4b70e2;
  color: #f9f9f9;
  border: none;
  outline: none;
  cursor: pointer;
}

.quantity {
  width: 50px;
  margin-bottom: 15px;
}

/* add to cart */
.cart {
  cursor: pointer;
}

.cart span:nth-child(1) {
  font-size: 1.4rem;
  color: white;
}

.cart span:nth-child(2) {
  padding: 0 3px;
  background-color: red;
  color: white;
  font-weight: bold;
  border-radius: 5px;
  position: relative;
  top: -18px;
  left: -7px;
}

/*  */

@media (max-width: 500px) {
  .thumb {
    height: 50px;
  }
  .thumb img {
    width: 50px;
  }
}

/*  */

@media only screen and (max-width: 576px) {
  #view-more {
    display: none;
  }
}
